name: Go Tests

on:
  pull_request_target:
    types: [opened, synchronize, reopened, labeled]
  push:
    branches: [ main ]

concurrency:
  group: ci-${{ github.ref }}-test
  cancel-in-progress: true

jobs:
  test:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        size: ['64b', '32b']
        golang: ['1.25.4']
        tag : ['', 'constantTime']
        exclude:
          - os: windows-latest
            size: '32b'
          - os: macos-latest
            size: '32b'

    runs-on: ${{ matrix.os }}
    env:
      DBGSYNCLOG: trace
      DBGSYNCON: true

    steps:
    - name: Set up Go ${{ matrix.golang }}
      uses: actions/setup-go@v6
      if: ${{ matrix.size == '64b' }}
      with:
        go-version: ${{ matrix.golang }}
        check-latest: false

    - name: Check out code into the Go module directory
      uses: actions/checkout@v5
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        fetch-depth: 0

    - name: Setup Alpine Linux
      uses: jirutka/setup-alpine@v1
      if: ${{ matrix.size == '32b' }}
      with:
        arch: x86
        packages: >
          make 
          git 
          gcc 
          musl-dev

    - name: Test without coverage (Windows, MacOS)
      if: ${{ matrix.os == 'macos-latest' || matrix.os == 'windows-latest' }}
      run: make test

    - name: Test without coverage (Ubuntu x86)
      if: ${{ matrix.size == '32b' }}
      run: |
        cd ..
        wget -O go.tgz -nv https://go.dev/dl/go${{matrix.golang}}.linux-386.tar.gz
        tar -xzf go.tgz
        export PATH=$PATH:$(pwd)/go/bin
        cd kyber
        make test
      shell: alpine.sh {0}
